
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #12022b;
    color: white
}   

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

h2 {
    text-align: center;
    color: white;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  background-color: transparent;
  grid-gap: 15px;
}

.child {
  background-color: transparent;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: bold;
  background: linear-gradient(to right, #fb6ba2, #ff79ce, #ffaaab);
  background-clip: text;
  color: transparent;
}
.score {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  gap: 50px
}
.btns {
  display: flex;
  margin-left: 80px;
  gap: 50px;
  
}
#newRound, #reset{
  padding: 10px;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  background-color: transparent;
  color: white;
}
